* {
    margin-top: 0%;
    padding: 0%;
}

header,
section {
    width: 960px;
    height: 300px; 
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#encabezado {
    background-color: aqua; 
    height: 160px;
    position: sticky;
    top: 0%;
}

#logo {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 30px;
    left: 10px;
    background-image: url(img/logo.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo h1 {
    padding-top: 40px;
}

#titulo {
    width:305px;
    height: 100px;
    position: absolute;
    top:50px;
    left: 200px;
}

#titulo h1 {
    padding-top: 25px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
font-family: 'Rubik Vinyl', cursive;
font-family: 'Russo One', sans-serif;
}

#botonera-1 {
    width: 400px;
    height: 50px;
    position: absolute;
    top:60px;
    left: 550px;
}

#botonera-1 ul li {
    display: inline;
    text-decoration: none;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
}

#botonera-1 ul li a {
    display: inline-block;
    text-decoration: none;
    border: 2px solid;
    font-size: 25px;
    border-radius: 15px;
}

#botonera-1  ul li a:hover {
    color: white;
    background-color: black;
}

#principal {
    background-color: rgb(245, 223, 223);
    position:relative;
    z-index: -1;
    width: 960px;
    height: 750px;
    background-image: url(img/imagen-prin.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#subt-prin {
    width: 300px;
    height: 30px;
    background-color: rgb(206, 208, 209);
    position: absolute;
    left: 5px;
    top: 60px;
    color: rgb(49, 48, 48);
}

#subt-prin p {
    text-align: center;
    font-size: 25px;
}

#txt-prin {
    width: 300px;
    height:140px;
    background-color: rgb(231, 206, 206);
    position: absolute;
    left: 5px;
    top: 90px;
    color: rgb(53, 53, 59);
    text-align: center;
    font-size: 22px;
    padding-top: 5px;
}

#catalogo {
    width: 200px;
    height: 30px;
    position: absolute;
    left: 400px;
    top: 20px;
    border: 2px solid black;
}

#catalogo h2 a {
    padding-left: 5px;
    font-size: 25px;
    text-decoration: none;
}

#catalogo h2 a :hover{
    color: white;
    background-color: black;
}

#historia {
    background-color: brown; 
    position: relative;
}

#txt-1 {
    width: 960px;
    height: 100px;
    background-color: greenyellow;
    position: absolute;
}

#txt-1 p {
    font-size: 18px;
    padding-top: 10px;
    color: rgb(34, 46, 46);
}

#txt-2 {
    width: 960px;
    height: 100px;
    background-color: bisque; 
    position: absolute;
    top: 100px;
}

#txt-2 p {
    font-size: 17px;
    padding-top: 20px;
    color: rgb(25, 25, 65);
}

#txt-3 {
    width: 960px;
    height: 100px;
    background-color: coral;
    position: absolute;
    top: 200px;
}

#txt-3 p {
    font-size: 20px;
    color: antiquewhite;
}

#actualidad {
    background-color: yellow;
    position: relative;
}

#boton-what{
    width:200px;
    height: 250px;
    position: absolute;
    background-color: rgb(14, 14, 22);
    margin-top: 25px;
    left: 10px;

}

#imagen-1-act {
    width:200px;
    height: 250px;
    position: absolute;
    background-color: rgb(199, 177, 177);
    margin-top: 40px;
    left: 250px;
}

#imagen-2-act {
    width:200px;
    height: 250px;
    position: absolute;
    background-color:brown;
    left: 500px;
    margin-top: 40px;
}

#txt-act {
    width:200px;
    height: 250px;
    position: absolute;
    background-color:chocolate;
    left: 750px;
    margin-top: 25px;
}